@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

input {
  background-color: #194b63;
  color: white;
}

.condensed {
  font-family: "Mona Sans Condensed Extra Bold";
}

.semi-bold {
  font-family: "Mona Sans Semi Bold";
}

.brand-button {
  @apply px-6 py-2 font-bold rounded cursor-pointer rounded-md bg-BrandForest text-BrandYellow;
}

.nav-overlay {
  @apply bg-BrandYellow fixed top-0 left-0 w-screen h-full z-50 flex flex-col justify-between overflow-x-hidden;
}

.nav-item {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.nav-item.expanded {
  transform: translateY(0);
  opacity: 1;
}

.social-links a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.nav-content {
  margin-top: 100px;
}



